@import "~antd/dist/antd.css";

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.logo {
  height: 32px;
  background-color: rgba(255, 255, 255, 0.3) !important;
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.menuList {
  background-color: #38d447 !important;
  color: white;
}

.ant-menu-item-selected {
  background-color: #3baa46 !important;
  color: white;
}

/* .ant-menu-submenu:hover
   .ant-menu-submenu-title
  > .ant-menu-submenu-expand-icon,
.ant-menu-submenu, .ant-menu-submenu-title > */
.ant-menu-submenu-title,.ant-menu-submenu-arrow, 
.menuList :hover {
  background-color: #3baa46 !important;
  color: white !important;
}
.ant-menu-inline .ant-menu-item::after{ 
  border-right: solid 3px #38d447 !important;
  color: white !important;
}

.ant-layout-sider-dark {
  background-color: #38d447 !important;
  color: black;
}

.ant-layout-sider-trigger {
  background-color: #3baa46 !important;
}
