@import "~antd/dist/antd.css";

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.logo {
  height: 32px;
  background-color: rgba(255, 255, 255, 0.3) !important;
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.menuList {
  background-color: #38d447 !important;
  color: white;
}

.menuList :hover {
  color: black !important
}

.ant-layout-sider-dark {
  background-color: #38d447 !important;
  color: black;
}

.ant-layout-sider-trigger{
  background-color: #3baa46 !important;
}